*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #708090;
}
.hero-1{
    text-align: center;
}
.hero-1 h1{
    transition: transform 4s;
    cursor: cell;
    text-decoration: underline;
}
.hero-1  h1:hover{
    transform: skew(180deg);
}
.hero-1 p{
    transition: transform 6s;
    cursor: crosshair;
}
.hero-1 p:hover{
    transform: skewX(360deg);
}
.hero{
    margin-top: 4rem;
}
.hero p{
    margin-top: 1rem;
}
.hero-2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top:1rem;
}
.hero-3 img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    transition: transform 4s;
    box-shadow: 0 12px 12px gold;
    cursor: pointer;
}
.hero-3 img:hover{
    transform: skewY(90deg);
}
.hero-3 p{
    text-align: center;
    font-size: 18px;
    color: black;
    box-shadow: 0 12px 12px burlywood;
    transition: transform 4s;
    cursor: pointer;
}
.hero-3 p:hover{
    transform: scale(4);
}
.card1-background{
    background-color: brown;
}
.card2-background{
    background-color: rgb(179, 15, 173);
}
.card3-background{
    background-color: blueviolet;
}

