body{
    background-color: #e0f7fa;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.hero{
    background-color: white;
    width: 300px;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,o.2) ;
    padding: 20px;
    text-align: center;
    color: #00796b;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    
}
